.btn {
  overflow: hidden;
  position: relative;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;

  &::after {
    background-color: #000;
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
  }
  &:hover::after {
    transform: translate(0, 0);
  }
  &:hover {
    color: white;
    transform: scale(1.05);
    will-change: transform;
  }

  &.active {
    background-color: #000;
    color: #fff;
  }
}