.page {
  padding: 40px;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;

}
.title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
}
.desc {
  font-size: 20px;
  color: #7b7b7b;
  margin-bottom: 20px;
}