.root {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;

  @media(max-width: 630px) {
    &{
      padding: 0;
    }
    .title {
      font-size: 28px;
      margin-bottom: 6px;
    }
    .message {
      font-size: 16px;
      margin-bottom: 6px;
    }
    .img {
      width: 200px;
    }
    .btn {
      font-size: 16px;
    }

  }
}
.title {
  font-size: 32px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  font-weight: 800;
}
.message {
  font-size: 18px;
  line-height: 145.4%;
  letter-spacing: 0.01em;
  color: #777777;
  margin-bottom: 10px;
}
.btn {
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  background-color: #232323;

  &:hover {
    background-color: #3d3d3d;
  }
}
.img {
  display: block;
  width: 300px;
  margin: 45px auto 60px;
}